/* Wal color scheme */

@import "../../.cache/wal/colors-waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: sans;
  /*font-family: "D2CodingLigature Nerd Mono";*/
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
}

#window {
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: @background;
  font-size: 14px;
  font-weight: bold;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border-top: 2px solid @foreground;
}

#workspaces button {
  padding: 0 4px;
  /*    background-color: rgba(0,0,0,0.3); */
}

#workspaces button.focused,
#workspaces button:hover,
#workspaces button.active {
  /*    box-shadow: inset 0 -2px #c9545d; */
  background-color: @color0;
  color: @color1;
  border-top: 2px solid @color1;
}

#workspaces button.urgent {
  background-color: @foreground;
}

#mode {
  background-color: @background;
  border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#wallpaper,
#mpd {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: @background;
  color: @foreground;
}

.modules-left, .modules-center, .modules-right {
  background-color: @background;
  border: none;
}

.modules-left, .modules-center {
  border-bottom-right-radius: 8px;
  margin-right: 4px;
  padding-left: 4px;
}

.modules-right, .modules-center {
  border-bottom-left-radius: 8px;
  margin-left: 4px;
  padding-right: 4px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size:14px;
  font-weight: bold;
}

#battery icon {
  color: red;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

/* Animations are expensive, especially when they are done constantly. */
/* By blinking when the battery percentage becomes too low, the battery will drain even faster, which is ironic. */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  /* animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: @foreground;
  color: @background;
}

/* #tray > .passive { */
/*   -gtk-icon-effect: dim; */
/* } */
/**/
/* #tray > .needs-attention { */
/*   -gtk-icon-effect: highlight; */
/*   background-color: #eb4d4b; */
/* } */
/**/
/*

window#waybar.solo {
background-color: #FFFFFF;
}

window#waybar.termite {
background-color: #3F3F3F;
}

window#waybar.chromium {
background-color: #000000;
border: none;
}
 */
